* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "open Sans", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 100px;
  font-weight: bold;
  float: left;
  font-family: courier;
  color: #006769;
}

.small-img {
  width: 150px;
  height: 50px;
  padding: 10px;
}

.menu {
  float: right;
  margin: 10px;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 50px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #006769;
  background: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.home {
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.container {
  width: 15%;
  margin: 10;
  padding-top: 50px;
}
